Body {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


/* --------------------------------------HEADER-------------------------------------------------- */
.hero {
    display: flex;
    flex-direction: column;
    
}


.top-Hero {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding: 10px 30px;
        justify-content: space-between;

    }


#top-star {
        width: 50px;
        height: 50px;
        align-items: flex-end;
}

#mini-logo {
        width: 50px;
        height: 89px;
}

/* --------------------------------------NAV-------------------------------------------------- */

.nav-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.nav-hero h1 {
    font-size: 48px;
    letter-spacing: 2px;
    margin-top: 10px;
}

ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

li {
    list-style: none;
    color: white;
    margin: 0 12%;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}   


/* --------------------------------------HEADER-------------------------------------------------- */
/* --------------------------------------HEADER-------------------------------------------------- */
/* --------------------------------------HEADER-------------------------------------------------- */




#imgPortfolio {
    width: 100%;
    margin-bottom: 20px;
}